<settings>
    <mirrors>
        <mirror>
            <id>company-mirror</id>
            <url>https://my.company.com/repository/maven-company-central</url>
            <mirrorOf>*,!company-central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                  <id>company-central</id>
                  <url>https://my.company.com/repository/maven-company-central</url>
                  <releases>
                    <enabled>true</enabled>
                  </releases>
                  <snapshots>
                    <enabled>true</enabled>
                    <updatePolicy>always</updatePolicy>
                  </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>company-central</id>
                    <url>https://my.company.com/repository/maven-company-central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                   </snapshots>
                </pluginRepository>
            </pluginRepositories>
    	</profile>
    </profiles>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
